<div class="home">

    <div id="top" tabindex="-1"></div>

    <nav id="top-navigation" aria-labelledby="nav-label" tabindex="-1">
        <h2 id="nav-label">Jump to summaries - quick navigation</h2>
        <ul class="strong-navi-list">
            <li><a href="/">Back to main page</a></li>
            <li>
                <a href="#overallSummary">overallSummary</a>
            </li>
            <li>
                <a href="#overallHistoricalSummary">overallHistoricalSummary</a>
            </li>

            <li>
                <a href="#SummaryOfSummaries">SummaryOfSummaries</a>
            </li>
            <li>
                <a href="#axeSummary">axeSummary</a>
            </li>
            <li>
                <a href="#axeDetails">axe details</a>
            </li>
            <li>
                <a href="#siteimproveSummary">siteimproveSummary</a>
            </li>
            <li>
                <a href="#siteimproveDetails">siteimprove details</a>
            </li>
            <li>
                <a href="#lighthouseSummary">lighthouseSummary</a>
            </li>
            <li>
                <a href="#lighthouseDetails">lighthouse details</a>
            </li>
             <li>
                <a href="#complexitySummary">complexitySummary</a>
            </li>
            <li>
                <a href="#complexityDetails">complexity details</a>
            </li>
        </ul>
    </nav>

    <hr class="main-hr">


    <article aria-labelledby="overallSummary">
        <h2 id="overallSummary" tabindex="-1">Overall Summary - latest audit ({{dateTimeLatest}})</h2>

        <p>distinctUrls: {{distinctUrlsCount}}</p>

        <h3 id="label_a11y">Overall automatic accessibility testing score</h3>

        <div id="graph_data_a11y____details" style="display: none;">
            [{"category": "Failures", "score" : {{this.totalStats.a11y.failuresProc}}, "color":"red"},{"category": "Passes", "score" : {{this.totalStats.a11y.passesProc}}, "color":"green"},{"category": "Incompletes", "score" : {{this.totalStats.a11y.incompletesProc}}, "color":"blue"}]
        </div>
        <div id="graph_a11y____details" class="a11y-graph-holder js_generate_donut" aria-hidden="true">Please wait, loading...</div>

        <ul aria-labelledby="label_a11y">
            <li>Failures: {{decimalToPercent this.totalStats.a11y.failuresProc}}%, Passes: {{decimalToPercent this.totalStats.a11y.passesProc}}%, Incompletes:  {{decimalToPercent this.totalStats.a11y.incompletesProc}}%</li>
            <li>#Failures: {{this.totalStats.a11y.failures}}, #Passes: {{this.totalStats.a11y.passes}}, #Incompletes: {{this.totalStats.a11y.incompletes}}</li>
            <li>Pass versus fail ratio: {{this.totalStats.a11y.passesVsFailures}}</li>
        </ul>
       
        <h3>Overall Search engine optimization score: {{ decimalToPercent this.totalStats.SEO}}%</h3>

        <p>Average score that is calculated based on Lighthouse SEO scores of every page</p>

        <h3>Overall performance score {{decimalToPercent this.totalStats.Performance}}%</h3>

        <p>Average score that is calculated based on Lighthouse performance scores of every page</p>

        <h3>Overall best practices score:  {{decimalToPercent this.totalStats.BestPractices}}%</h3>

        <p>Average score that is calculated based on Lighthouse best practice scores of every page</p>

        <h3>Overview of all URLs in the audit</h3>
        <p>You can expand them and observe details of audits per page</p>

        <div id="js_all" class="js_generate_details" data-title="Details for all {{distinctUrlsCount}} URLs - all audits per date" style="min-height:{{heightPerUrl distinctUrlsCount 80}}">Please wait, loading...</div>

    </article>

    <hr class="main-hr">

    <article aria-labelledby="overallHistoricalSummary">
        <h2 id="overallHistoricalSummary" tabindex="-1">Overall Historical summary</h2>
       
        <div class="svg-grid">

            <div data-set="js-histogram_urls" data-prop="urls" class="js_histogram">Please wait, loading...</div>
        
            <div data-set="js-histogram_a11y" data-prop="a11yPassesAvg" class="js_histogram">Please wait, loading...</div>

            <div data-set="js-histogram_a11y" data-prop="a11yViolationsAvg" class="js_histogram">Please wait, loading...</div>

            <div data-set="js-histogram_a11y" data-prop="a11yIncompletesAvg" class="js_histogram">Please wait, loading...</div>

            <div data-set="js-histogram_seo" data-prop="seoAvgShort" class="js_histogram">Please wait, loading...</div>

            <div data-set="js-histogram_cpx" data-prop="cpxElWeightsAvg" class="js_histogram">Please wait, loading...</div>

            <div data-set="js-histogram_cpx" data-prop="cpxEventsAvg" class="js_histogram">Please wait, loading...</div>


        </div>

        <script>
            const historicalStr = '{{historicalSummariesFlatPerUrlString}}';
            const historicalCleaned = JSON.parse(historicalStr.replaceAll("&quot;", '"'));
        </script>
    </article>

    <hr class="main-hr">

    <article aria-labelledby="SummaryOfSummaries">
        <h2 id="SummaryOfSummaries" tabindex="-1">Summary Of Summaries</h2>

        <p>This part can be used to complement <a href="https://www.w3.org/TR/WCAG-EM/#step1a" target="_blank">Website Accessibility Conformance Evaluation Methodology (WCAG-EM) 1.0 - Define the Scope of the Website</a>.</p>
       

        <!-- TODO all pages sorted by custom weight by 
        
            axe mostViolations
            Siteimprove mostViolations
            mostElWeights
            mostEvents
        
        -->

        <!-- 

            TODO sort all pages based on distinct weights

        -->
        
    </article>

    <hr class="main-hr">

    <article aria-labelledby="axeSummary">

        <h2 id="axeSummary" tabindex="-1">axeSummary of latest audit ({{dateTimeLatest}})</h2>

        {{> audit_details axeSummary}}
       
        <h3 id="axeDetails" tabindex="-1">axe details</h3>
        <div id="js_axe" class="js_generate_details" data-title="All {{distinctUrlsCount}} URLs with aXe audit"  style="min-height:{{heightPerUrl distinctUrlsCount 80}}">Please wait, loading...</div>

    </article>

    <hr class="main-hr">

    <article aria-labelledby="siteimproveSummary">
        <h2 id="siteimproveSummary" tabindex="-1">siteimproveSummary  of latest audit ({{dateTimeLatest}})</h2>

        {{> audit_details siSummary}}

        <h3 id="siteimproveDetails" tabindex="-1">siteimprove details</h3>
        <div id="js_si" class="js_generate_details" data-title="All {{distinctUrlsCount}} URLs with Siteimprove audit"  style="min-height:{{heightPerUrl distinctUrlsCount 80}}">Please wait, loading...</div>

    </article>

    <hr class="main-hr">

    <article aria-labelledby="lighthouseSummary">
        <h2 id="lighthouseSummary" tabindex="-1">lighthouseSummary  of latest audit ({{dateTimeLatest}})</h2>

        {{> lighthouse_details lhSummary}}

        <h3 id="lighthouseDetails" tabindex="-1">lighthouse details</h3>
        <div id="js_lh" class="js_generate_details" data-title="All {{distinctUrlsCount}} URLs with Lighthouse audit" style="min-height:{{heightPerUrl distinctUrlsCount 80}}">Please wait, loading...</div>

    </article>

    <hr class="main-hr">

    <article aria-labelledby="complexitySummary">
        <h2 id="complexitySummary" tabindex="-1">complexitySummary  of latest audit ({{dateTimeLatest}})</h2>

        {{> complexity_details cpxSummary}}

        <h3 id="complexityDetails" tabindex="-1">Complexity details</h3>
        <div id="js_cpx" class="js_generate_details" data-title="All {{distinctUrlsCount}} URLs with complexity audit" style="min-height:{{heightPerUrl distinctUrlsCount 80}}">Please wait, loading...</div>

    </article>

    <hr class="main-hr">

    <nav aria-label="Bottom navigation">
        <ul class="strong-navi-list">
            <li>
                <a href="#top">Back to top of page</a>
            </li>
            <li>
                <a href="#top-navigation">Back to navigation</a>
            </li>
            <li>
                <a href="/">Back to main page</a>
            </li>
        </ul>
    </nav>

</div>
<script>
const dataStr = '{{domainDataAsString}}';
const dataCleaned = JSON.parse(dataStr.replaceAll("&quot;", '"'));
</script>
<script src="res/d3.v4.13.0.min.js"></script>
<script src="res/d3.donuts.js?{{timestamp}}"></script>
<script src="res/d3.histograms.js"></script>