<style>
.main-domain-nav-holder{
    padding:1rem;
}

.domain-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.domain-nav a{
    padding:1rem;
    font-size: 1.5rem;
    display: block;
    margin: 0.5rem -1rem;

}

.domain-nav a:focus, 
.domain-nav a:hover{
        box-shadow: 0 0 2px black;
}

</style>
<article class="main-domain-nav-holder">
    <h2 id="title-nav">Audits per domain</h2>

    <nav aria-labelledby="title-nav" class="domain-nav">
        <ul>
            {{#each domains}}
            <li>
                <a href="?details={{this.domain}}"><strong>{{this.domain}}</strong> ({{this.distinctUrlsCount}} urls, {{this.domainSummary.a11y.passes}} passes, {{this.domainSummary.a11y.failures}} failures, {{this.domainSummary.a11y.incompletes}} incompletes, SEO: {{this.domainSummary.SEO}})</a>
            </li>
            {{/each}}
        </ul>
    </nav>

</article>